.formTodo-container{
    align-items: center;
    text-align: left;
    padding: 10px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: antiquewhite;
}
.input-container{
    margin: 5px;
    padding: 5px;
}
.button-container{
    margin: 5px;
    padding: 5px;
    align-items: center;
    text-align: center;
}
input{
    width: 100%;
}